@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-carousel .slick-dots li button {
    background-color: #ff4d4f;
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #ff4d4f;
}
*{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
